@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* No rounded corners for elements according to CD */
* {
  border-radius: 0 !important;
}

/* Exempt Streamlit spinner */
.stSpinner, .stSpinner * {
  border-radius: 50% !important;
}

/* Keep rounded corners for Streamlit checkbox (st.checkbox) */
[data-testid="stCheckbox"] label[data-baseweb="checkbox"] > div:first-child,
[data-testid="stCheckbox"] label[data-baseweb="checkbox"] > div:first-child > div,
[data-testid="stCheckbox"] label[data-baseweb="checkbox"] > div:first-child::before,
[data-testid="stCheckbox"] label[data-baseweb="checkbox"] > div:first-child::after,
[data-testid="stCheckbox"] label[data-baseweb="checkbox"] > div:first-child > div::before,
[data-testid="stCheckbox"] label[data-baseweb="checkbox"] > div:first-child > div::after {
  border-radius: 9999px !important;
}

.ref-icon {
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 1em;
    line-height: 1;
    vertical-align: text-top;
    margin: 3px .1em 0 .5em;
    color: #3F4C7B;
}

#special-hr hr {
  margin-top: -20px !important;
}

#chatbot-title h1 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 60px;
    text-align: right;
}